@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body{
  background-color:#f3f3f3;
  font-family: 'Cormorant Infant', serif;
  color: rgb(115, 115, 115);

}

a:hover{
  text-decoration: none;
}

header{
  margin-top: 30px;
  h1{
    color: rgb(38, 38, 38);
    font-size: 36px;
  }
}

.toogle{
  cursor:pointer;
  position:absolute;
  top:20px;
  right:20px;
  width: 100%;
  display:none;
  i{
    font-size: 29px;
    position: absolute;
    top: 20px;
    right: 20px;
  } 
  
  li {
    margin:0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    color: grey;
    padding: 2px;
    a{
      color:grey;
    }
  } 
}

.top-nav{
  padding:20px;
  border-top: 1px solid #ccc;
  margin-top: 50px;
  a{
    font-size: 16pt;
    color: #262626;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    &:active{
      color: #48974c
    }
  }
  
}

.header-main{
    background: url(/img/header-img-1.png) center no-repeat;
    background-size: cover;
  
    min-height : 700px;
  }

  .main-header-text{
    padding: 50px;
      margin-top: 100px;
      background-color: rgb(255, 255, 255);
      opacity: 0.949;

      h2{
        font-size: 60px;
        color: rgb(38, 38, 38);

      }
      p{
        margin-top: 50px;
        font-family: 'PT Sans', sans-serif;

      }

    }
    .content{
      margin-top: 30px;
    }
    .article-preview{
      border: 1px solid #ccc;
      padding: 20px;
      transition: all .5s;
      margin-bottom: 30px;
      background-color: white;
          &:hover{
        box-shadow: 0 14px 30px -15px rgba(0,0,0, .75);
      }
      img{
        max-width: 100%;
      }

      i{
        margin-right: 10px;
        color:#cccccc;
        &:hover{
          color: #48974C;
        }

      }
      h3{
        font-size: 30px;
        color: rgb(38, 38, 38)

      }

      p{
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        color: rgb(115, 115, 115);

      }

        
      .social{
        margin-top: 15px;
        margin-bottom: -15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div a{
          margin-left: 15px;
        }
      }
      .more{
        font-family: 'PT Sans', sans-serif;
        padding:15px;
        color:rgb(72, 151, 76);
        border: 1px solid rgb(72, 151, 76);
        text-transform: uppercase;
        margin-bottom: 15px;
      }
    }

    .btn-early{
      display: inline-block;
      padding:15px 39px;
      background-color: rgb(72, 151, 76);
      color:white;
      border: 1px solid rgb(72, 151, 76);
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-left: 20px;
      
    }
    
  
    .blog-min {
      background-color: white;
      hr{
        width: 100%;
        color: #808080;
      }
      article{
        padding: 15px 0px 0 5px;
        ul{
          list-style: none;
          padding: 0;
        }
        li a::before{
          content: '\f138';
          font-weight: 900;
          color: #48974c;
          font-family: 'Font Awesome 5 Free';
        }
        a{
          margin-right: 10px;
          text-transform: uppercase;
          color: #48974c;
          
        }
        img{
          max-width: 100%;
          padding-bottom: 16px;
        }
        p{
          padding-top: 1px;
          font-family: 'PT Sans', sans-serif;
          font-size: 16px;
          color: rgb(115, 115, 115);

        }

        h4{
          color: #262626;
          padding-bottom: 1px;
          font-size: 24px;
          font-family: 'Cormorant Infant', serif;
          font-style: italic ;
          font-weight: bold;
        }
        }
        margin-bottom: 20px;

     
      }
      li.page-item{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
        width: 56px;
        height: 56px;
        margin-left:20px;
        &:first-child{
          margin-left: 0;
          background-color: #F3F3F3;
          border:none;
          box-shadow: none;
        }
        &:last-child {
          background-color: #F3F3F3;
          border:none;
          box-shadow: none;
        }
        
        &.active .page-link{
          background-color:#48974c ;
        }
        &:first-child .page-link{
          
          background-color: #F3F3F3;
          border:none;
          box-shadow: none;
          
        }
        &:first-child .page-link{
          
          background-color: #F3F3F3;
          border:none;
          box-shadow: none;
      }
      &:last-child .page-link{
          
        background-color: #F3F3F3;
        border:none;
        box-shadow: none;
    }
      span.page-link, a.page-link{
        border:none;
        height:100%;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 16pt;
        color:#262626
        
      }
    }
  
    .building{
      background: url(/img/building.png) center no-repeat;
      background-size: cover;
      min-height : 500px;
      margin-top: 70px;
      padding-top:190px;
      .btn-about{
        margin-top:200px;
        a.white-btn{
          background-color: white;
          padding:15px 20px;
          margin-right: -4px;
          color: black;
          font-family: 'PT Sans', sans-serif;
        }
        a.green-btn{
          background-color:#48974c ;
          padding:15px 20px;
          color:white;
          font-family: 'PT Sans', sans-serif;
        }
      }
    }

    .banners{
      margin-top:50px;
    }

    .social-area{
      padding: 20px;
      height:261px;
      overflow: hidden;
      background-color:white;
      width: 100%;
      margin-bottom: 50px;
    }

    .banner{
      width:100%;
      display: flex;
      background-color: #fff;
      height: 261px;
      align-items: center;
      justify-content: center;
    }

    footer{
      background-color: #404040;
      padding-top: 50px;
      color:white;
      position: relative;
      a{
        display: block;
        list-style: none;
        text-decoration: none;
        color:white;
        text-transform:uppercase;
        line-height: 40px;
        &:hover{
          color:white;
          text-decoration: none;

        }
      } 
    }

    .social-footer{
     a {
      display: inline;
      float:right;
      margin-left: 20px;
      list-style: none;
      text-decoration: none;
      color: #cccccc;
      font-size:20px;
    } .counter{
      float: right;
      margin-top: 15px;
    }
  }

  .copyright{
    margin-top:  20px;
    display: flex;
    padding: 20px 0px;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: baseline;
    border-top:1px solid #808080;
    font-family: 'PT Sans', sans-serif;
    color: #ccc;
  }

  .tohide{
    transition: all 1s;
    display:none;
  }
  .toshow{
    transition: all 1s;
    display:block;
  }

  @media only screen and (max-width : 992px){
    .hide{
      display:none;
    }
    .toogle{
      display: block;
    }
    .social-footer{
      float:left;
    }
  }

